:root
{
    --large-font-size: 3em;
    --medium-font-size: 2.1em;
    --small-font-size: 1.3em;
    --tiny-font-size: 0.8em;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --text-color: white;
    --box-image-width: 460px;
    --box-image-border-value: 1em;
    --blur-value: 0.2em;
    --brightness-value: 70%;
    --grid-columns-gap: 4em;
}

body
{
    background-color: grey;
    line-height: 1.2;
}

/*Region Classes*/

.category-title
{
    position: relative;
    text-align: center;
    font-size: var(--large-font-size);
    font-family: var(--font-family);
    color: var(--text-color);
}

.category-list
{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--box-image-width) + var(--grid-columns-gap)), 1fr));
    justify-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.category
{
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.box-title
{
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: var(--medium-font-size);
    font-family: var(--font-family);
}

.box-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: blur(var(--blur-value)) brightness(var(--brightness-value));
    -webkit-filter: blur(var(--blur-value)) brightness(var(--brightness-value));
    border-radius: var(--box-image-border-value);
}

/*Endregion Classes*/

/*Region Ids*/

/*Region Web Header*/

#topbar
{
    display: flex;
    position: fixed;
    gap: 5%;
    width: 100%;
    height: 14em;
    background-color: black;
    align-items: center;
    z-index: 10;
    transition: all 0.6s;
}

#portrait
{
    height: calc(100% - 4em);
    margin: 1em;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    transition: all 0.6s;
}

#personal-info
{
    color: var(--text-color);
    font-family: var(--font-family);
    justify-self: left;
}

#name
{
    color: var(--text-color);
    font-size: var(--large-font-size);
    font-family: var(--font-family);
    transition: font-size 0.6s;
}

#ocupation
{
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-family: var(--font-family);
    transition: font-size 0.6s;
}

#contact-list
{
    left: 66%;
    position: absolute;
    color: var(--text-color);
    font-family: var(--font-family);
}

#contact
{
    display: flex;
    grid-template-columns: 5% 85%;
    align-items: center;
    white-space: nowrap;
    line-height: 2em;
}

#contact-icon
{
    display: block;
    margin: auto;
    width: 1.5em;
}

#contact-link
{
    text-align: left;
    font-size: var(--small-font-size);
    padding-left: 0.5em;
    color: var(--text-color);
    transition: font-size 0.6s;
}

@media only screen and (max-width: 1200px)
{
    #topbar
    {
        height: 8em;
    }

    #personal-info
    {
        max-width: 30%;
    }

    #name
    {
        font-size: var(--small-font-size);
    }
    
    #ocupation
    {
        font-size: var(--tiny-font-size);
    }

    #contact-link
    {
        font-size: var(--tiny-font-size);
    }
}

/*Endregion Web Header*/

/*Region Web Body*/

#content
{
    position: absolute;
    margin-top: 19em;
    width: 100%;
}

/*Endregion Web Body*/

/*Endregion Ids*/