@font-face {
    font-family: Alphazet;
    src: url("../resources/fonts/Alphazet-Light.ttf");
}

:root
{
    /*#region Fonts*/
    --large-font-size: 3rem;
    --medium-font-size: 2.5rem;
    --small-font-size: 1.3rem;
    --tiny-font-size: 0.3rem;

    --font-family: Alphazet;
    /*#endregion Fonts*/

    --portrait-height: clamp(30%, calc(1.5rem + 12vw) , 85%);

    --logo-size: 4vw;

    --box-image-border-value: 1rem;
    --blur-value: 0.1rem;
    --brightness-value: 30%;
    --transition-time: 0.3s
}

body
{
    background-color: grey;
    line-height: 1.5;
}

ul
{
    list-style-type: disc;
    list-style-position: inside;
}

li 
{
    padding-left: 1.9rem;
    text-indent: -1.38em;
}

figure
{
    margin: 1rem auto;
}

figcaption
{
    font-style: italic;
    text-align: center;
    background-color: black;
}

/*#region Classes*/

/*#region Font*/

.main-title
{
    font-size: var(--large-font-size);
    font-family: var(--font-family);
    transition: font-size var(--transition-time);
}

.title
{
    font-size: var(--medium-font-size);
    font-family: var(--font-family);
    transition: font-size var(--transition-time);
}

.text
{
    font-size: var(--small-font-size);
    font-family: var(--font-family);
    transition: font-size var(--transition-time);
}

.white
{
    color: white;
}

/*#endregion Font*/

/*#region Categories*/

.category-dropdown
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95vw;
    min-height: 12rem;
    margin-bottom: 1rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category-dropdown-title-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12rem;
    background-color: black;
}

.category-dropdown-content
{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

/*#endregion Categories*/

/*#region Subcategories*/

.subcategory-dropdown
{
    position: relative;
    margin: 1em 2em;
    cursor: pointer;
}

.subcategory-frame
{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*#endregion Subcategories*/

/*#region Cards*/

.card-dropdown
{
    position: relative;
    margin: 1em 2em;
    cursor: pointer;
}

.card-dropdown-banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    width: 460px;
    height: 215px;
    transition: width var(--transition-time);
}

.card-dropdown-title
{
    position: absolute;
    z-index: 1;
}

.card-dropdown-content
{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card-title
{
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content
{
    margin: 2rem;
    width: calc(100% - 4rem);
}

.card-content-grid
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem auto;
}

.card-content-block
{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    align-items: flex-start;
}

.card-text
{
    margin: 2rem;
    align-self: center;
}

.horizontal-small-card-media
{
    width: 25vw;
    margin: auto;
}

.horizontal-medium-card-media
{
    width: 35vw;
    margin: auto;
}

.horizontal-large-card-media
{
    width: 80%;
    margin: auto;
}

.vertical-small-card-media
{
    width: 14.3vw;
    margin: auto;
}

.vertical-medium-card-media
{
    width: 25vw;
    margin: auto;
}

/*#endregion Card*/

/*#region Utilities*/

.cross
{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    content: url("../resources/images/cross.png");
}

.reference-video
{
    width: 35vw;
    height: calc(35vw * 0.56);
    margin: 1rem auto;
}

.logo
{
    width: var(--logo-size);
    height: var(--logo-size);
}

/*#region Border*/

.solid-border
{
    border-style: solid;
}

.thick-border
{
    border-width: 5px;
}

.thin-border
{
    border-width: 2px;
}

.border-padding
{
    padding: 4px;
}

/*#endregion Border*/

.clonable
{
    cursor: pointer;
}

.round-border
{
    border-radius: var(--box-image-border-value);
}

.full-size
{
    width: 100%;
    height: 100%;
}

.opacity
{
    opacity: 0.5;
}

.blur
{
    backdrop-filter: blur(var(--blur-value)) brightness(var(--brightness-value));
    -webkit-backdrop-filter: blur(var(--blur-value)) brightness(var(--brightness-value));
}

/*#endregion Utilities*/

/*#endregion Classes*/

/*#region Ids*/

/*#region Image Zoom*/

#image-zoom
{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
}

#image-zoom-container
{
    width: 80%;
    height: 80%;
    z-index: 30;
}

#zoomed-media
{
    width: 100%;
    height: 100%;
    object-fit: contain;    
}

/*#region Web Header*/

#topbar
{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    gap: 5%;
    height: 14em;
    z-index: 10;
    background-color: black;
    transition: height var(--transition-time);
}

#portrait
{
    height: var(--portrait-height);
    margin: 1em;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

#personal-info
{
    width: clamp(20%, calc(0.5rem + 35vw), 40%);
    color: var(--text-color);
    font-family: var(--font-family);
    justify-self: left;
}

#contact-list
{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
}

#contact
{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#contact-icon
{
    display: block;
    margin: auto;
    width: var(--small-font-size);
}

#contact-link
{
    text-align: left;
    padding-left: 0.5em;
}

/*#endregion Web Header*/

/*#region Web Body*/

#content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    margin-top: 15em;
    transition: margin-top var(--transition-time);
}

/*#region Main Topics*/

#publications
{
    
}

#topics
{

}

#code-good-practices
{

}

/*#endregion Main Topics*/

/*#region Farlands: Tiny Harvest*/

#farlands-tiny-harvest-banner
{
    background-image: url("../resources/images/farlands-tiny-harvest/banner.jpg");
}

/*#endregion Farlands: Tiny Harvest*/

/*#region Multithreading*/

#multithreading-banner
{
    background-image: url("../resources/images/multithreading-banner.jpg");
}

/*#endregion Multithreading*/

/*#region Network*/

#network-banner
{
    background-image: url("../resources/images/network-banner.jpg");
}

/*#endregion Network*/

/*#region AI*/

#AI-banner
{
    background-image: url("../resources/images/AI-banner.jpg");
}

/*#endregion AI*/

/*#region Tooling*/

#tooling-banner
{
    background-image: url("../resources/images/tooling-banner.jpg");
}

/*#endregion Tooling*/

#pounce-palace-banner
{
    background-image: url("../resources/images/pounce-palace/banner.png");
}

#online-chess-banner
{
    background-image: url("../resources/images/online-chess/banner.jpg");
}

#patterns-banner
{
    background-image: url("../resources/images/patterns/banner.jpg");
}

/*#endregion Web Body*/

/*#region Utilities*/

#category-cross, #image-zoom-cross
{
    margin-top: 3.5rem;
    margin-right: 3.5rem;
}

#subcategory-cross, #card-cross
{
    margin-top: 1rem;
    margin-right: 1rem;
}

/*#endregion Utilities*/

/*#endregion Ids*/

/*#region Mobile Screen*/

@media only screen and (max-width: 1200px)
{
    #topbar
    {
        height: 10em;
        gap: 0%;
    }

    #content
    {
        margin-top: 13em;
    }
}

/*#endregion Mobile Screen*/